{% extends "base.html" %}

{% block page_title %}Plotly | Disaster Responses{% endblock %}
{% block title %}Disaster Responses{% endblock %}
{% block bread_title %}Plotly{% endblock %}

{% block main_content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-6">
                <h5 class="mb-0">Plotly</h5>
                <p class="text-sm mb-0">
                    Use of Plotly js / python framework
                </p>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card z-index-2">
                    <div class="card-header p-3 pb-0">
                        <h6>Message Genres</h6>
                    </div>
                    <div class="card-body p-3">

                        <div id="demo1"></div>
                        <div id="genre-plot"></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card z-index-2">
                    <div class="card-header p-3 pb-0">
                        <h6>Distribution of Categories</h6>
                    </div>
                    <div class="card-body p-3">

                        <div id="category-plot"></div>

                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}


{% block custom_js %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <script>
        {#document.getElementById("demo1").innerHTML = "Hello JavaScript!";#}

        // plot genre
        const genreJSON = {{ genre_fig_json | safe }};
        Plotly.newPlot("genre-plot", genreJSON)

        // plot category
        const catJSON = {{ cat_fig_json | safe }};
        Plotly.newPlot("category-plot", catJSON)

        // responsive layout
        window.onresize = function () {
            Plotly.relayout(
                'genre-plot', {
                    'xaxis.autorange': true,
                    'yaxis.autorange': true
                }
            ),
            Plotly.relayout(
                'category-plot', {
                    'xaxis.autorange': true,
                    'yaxis.autorange': true
                }
            );
        };

    </script>

{% endblock %}