{% extends "base.html" %}

{% block page_title %}Term Frequency{% endblock %}
{% block title %}Disaster Responses{% endblock %}
{% block bread_title %}Term Frequency NLTK{% endblock %}

{% block main_content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-6">
                <h5 class="mb-0">Term Frequency NLTK</h5>
                <p class="text-sm mb-0">
                    Term Frequency / Word Count per Category Analysis
                </p>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card z-index-2">
                    <div class="card-header p-3 pb-0">
                        <h6>Term Frequency per Category (Word Count)</h6>
                    </div>
                    <div class="card-body p-3">

                        <div class="form-wrapper">

                            {% if category != 'all' %}
                                    <p class="lead">
                                        Term Frequency / Word Count for {{ category.replace('_', ' ').title() }}
                                    </p>
                            {% endif %}

                            <form method="POST" action="{{ url_for('tf') }}">


                                <fieldset class="form-field">
                                    {{ form.category.label(class="form-label") }}
                                    {{ form.category(class="form-control") }}
                                </fieldset>

                                {{ form.submit(class="btn btn-primary mb-3 mt-3") }}
                            </form>
                        </div>

                        <div id="tf-plot"></div>

                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}


{% block custom_js %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <script>
        {#document.getElementById("demo1").innerHTML = "Hello JavaScript!";#}

        // plot tf
        const tfJSON = {{ tf_fig_json | safe }};
        Plotly.newPlot("tf-plot", tfJSON)


        // responsive layout
        window.onresize = function () {
            Plotly.relayout('tf-plot', {
                'xaxis.autorange': true,
                'yaxis.autorange': true
            });
        };

    </script>

{% endblock %}